@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300&display=swap');

:root {
    --bgc-hero-and-footer: #1F2937;
    --fc-hero-main-text: #F9FAF8;
    --fc-hero-sec-text: #E5E7EB;
    --bgc-button-and-cta: #3882F6;
    --bgc-quote-section: #E5E7EB;
    --fc-quote-text: #1F2937;
    --border-placeholder: 1px solid red;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display:flex;
    flex-direction: column;
    align-items: center;
}

/* ensures background colour of sections span the 
whole width of the screen */
header, section, footer {
    width: 100%;
}

ul {
    list-style: none;
}

header, 
.section-hero, 
footer {
    display: flex;
    justify-content: center;
    background-color: var(--bgc-hero-and-footer); 
}

footer {
    color: var(--fc-hero-sec-text);
    font-size: 18px;
    align-items: center;
    height: 5rem;
}

/* pinch content to middle 1440px */
.header-container, 
.section-hero-container,
.section-info-container,
.section-quote-container,
.section-cta-container {
    max-width: 1440px;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
}

.header-logo {
    color: var(--fc-hero-main-text);
    font-size: 24px;
    font-weight: 700;
    margin-left: 5rem;
}

.header-links ul {
    display: flex;
    gap: 2rem;
    color: var(--fc-hero-sec-text);
    font-size: 18px;
    margin-right: 5rem;
}

.section-hero-container {
    display: flex;
    justify-content: space-between;
    background-color: var(--bgc-hero-and-footer);
    min-height: 25rem;
    padding: 5rem 0;
    gap: 2rem;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5rem;
    color: var(--fc-hero-main-text);
    flex: 1;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
}

.hero-sec-text {
    font-size: 18px;
    color: var(--fc-hero-sec-text);
}

.signup-button {
    background-color: var(--bgc-button-and-cta);
    border: none;
    color: var(--fc-hero-main-text);
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 0.4rem 2rem;
    border-radius: 0.6rem;
    align-self: flex-start;
}

.hero-image {
    margin-right: 5rem;
    background-color: grey;
    color: var(--fc-hero-sec-text);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-info {
    display: flex;
    justify-content: center;
}

.section-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem 0;
}

.info-heading {
    font-size: 36px;
    font-weight: 900;
    color: var(--bgc-hero-and-footer);
}

.info-container-array {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.info-thumbnail {
    border: 0.2rem solid var(--bgc-button-and-cta);
    min-height: 10rem;
    border-radius: 1rem;
}

.info-desc, .info-thumbnail {
    width: 10rem;
}

.section-quote {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgc-quote-section);
}

.section-quote-container {
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: var(--fc-quote-text);
}

.quote-source {
    font-weight: bold;
    font-size: 1.5rem;
    align-self: flex-end;
}

.section-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25rem;
}

.cta-box {
    min-height: 12rem;
    border-radius: 1rem;
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2rem 8rem;
    gap: 1rem;
    background-color: var(--bgc-button-and-cta);
}

.cta-text-container {
    flex: 2;
    color: var(--fc-hero-main-text);
    display: flex;
    flex-direction: column;
}

.cta-text-main {
    font-size: 2rem;
    font-weight: bold;
}

.cta-text-sub {
    font-size: 1.5rem;
}

.cta-button-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-button-inverted {
    border: 2px solid white;
}



